<img src="https://vlegalwaymayo.atu.ie/pluginfile.php/1/theme_catawesome/logo/1708672446/logo.svg" width=20% height=20%>

# Palmer Penguins

************************

This notebook contains my analysis of the famous Palmer Penguins dataset. \
This is the assessment for Principles of Data Analytics module on Higher Diploma in Data Analytics course from [ATU](https://www.atu.ie/) in Summer 2023/24. 

As an ATU student without prevoius programming experience, this is a very important project as it helps me to practise varoius skills and information I learnt throughout the module.

*author: Monika Dabrowska*


<div style="text-align:center">
<img src="https://allisonhorst.github.io/palmerpenguins/reference/figures/lter_penguins.png" width=50% height=50%>
</div>

## Introduction
***************************

The Palmer Penguins dataset is a very popular dataset in data analytics particularly for educational purposes. \
It's commonly used for data visualization and exploratory data analysis due to its relatively small size and easy-to-understand structure. \
This is an alternative to Iris dataset, a classic dataset commonly used for teaching and learning purposes.

The Palmer Penguins dataset contains information on 344 individual penguins within three species: Chinstrap, Gentoo, and Adélie. \
It was collected from [Palmer Station in Antarctica](https://en.wikipedia.org/wiki/Palmer_Station) and includes various measurements such as bill length, bill depth, flipper length, body mass, and sex. 

This dataset was collected from 2007 to 2009 by [Dr. Kristen Gorman](https://www.uaf.edu/cfos/people/faculty/detail/kristen-gorman.php) and the [Palmer Station, Antarctica LTER (Long Term Ecological Research)](https://pallter.marine.rutgers.edu/) program, part of the [US Long Term Ecological Research Network](https://lternet.edu/).

The dataset is available [on GitHub](https://allisonhorst.github.io/palmerpenguins/).

## Visualisation

***
To make this analysis easy to follow, an image with the labelling of the parts of a penguin is included below:

<div style="text-align:center">
<img src="https://img.freepik.com/free-vector/diagram-showing-parts-penguin_1308-31210.jpg?w=996&t=st=1713029278~exp=1713029878~hmac=d088e7b9dc77f1618362e1f3dc02a8060f967e4acf8503c44ae58c673e64fc31" width=40% height=40%>
</div>

## Imports and Data Exploration

***

We use pandas for the DataFrame data structure.

As a first step, I am importing the necessary libraries. For this assesment I will be using [Pandas](https://www.w3schools.com/python/pandas/pandas_intro.asp#:~:text=Pandas%20is%20a%20Python%20library,by%20Wes%20McKinney%20in%202008.) for data exploration.

It allows us to investigate CSV files, amonsgst other features.

In [1]:
# Data frames. 
import pandas as pd

## Load Data

***

Load the palmer penguins data set from a URL

In [2]:
# Load the penguins data set. 
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv")

The data is now loaded and we can inspect it.

In [3]:
# Let's have a look.
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

## Inspect data

In [4]:
# Look at the first row:
df.iloc[0]

species                 Adelie
island               Torgersen
bill_length_mm            39.1
bill_depth_mm             18.7
flipper_length_mm        181.0
body_mass_g             3750.0
sex                       MALE
Name: 0, dtype: object

In [5]:
# Sex of penguins:
df['sex']

0        MALE
1      FEMALE
2      FEMALE
3         NaN
4      FEMALE
        ...
339       NaN
340    FEMALE
341      MALE
342    FEMALE
343      MALE
Name: sex, Length: 344, dtype: object

In [6]:
# Count of the number of penguins of each sex:
df["sex"].value_counts()

sex
MALE      168
FEMALE    165
Name: count, dtype: int64

In [7]:
# Describe the data set:
df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

# This will be big

You **might** have a paragraph. Paragraph have sentences. 



You *migth* have a paragraph. Paragraph have sentences. 

You migth have a paragraph. Paragraph have sentences. 

You migth have a paragraph. Paragraph have sentences. You migth have a paragraph. Paragraph have sentences. You migth have a paragraph. Paragraph have sentences. You migth have a paragraph. Paragraph have sentences. You migth have a paragraph. Paragraph have sentences. You migth have a paragraph. Paragraph have sentences. 

If you want a second paraghraph, leave a blank line.If you want a second paraghraph, leave a blank line. If you want a second paraghraph, leave a blank line. If you want a second paraghraph, leave a blank line. If you want a second paraghraph, leave a blank line. If you want a second paraghraph, leave a blank line. If you want a second paraghraph, leave a blank line. If you want a second paraghraph, leave a blank line. If you want a second paraghraph, leave a blank line. If you want a second paraghraph, leave a blank line. If you want a second paraghraph, leave a blank line. If you want a second paraghraph, leave a blank line. If you want a second paraghraph, leave a blank line. If you want a second paraghraph, leave a blank line. 

## This will be slightly smaller

- bullet
- point
    - second
    - level
- list

### This will be slightly smaller again 

1. Numbered bullets.
2. Just use number.
3. What a mess!
3. How complex!

## Tables

***

| Species  |Bill Lenghts (mm) |Body Mass (g)|
|----------|-----------------:|------------:|
|Adelie    |               8.8|         3701|
|Chinstrap |              48.8|         3733|
|Gentoo    |              47.5|         5076|




```python

print('Python is a great language!')

a = a + 1

print (a)

```

## Math

***

f(x) = x<sup>2</sup>

$f(x) = x^2$  

$\sum_{i=0}^{n-1} i$

$\bar{x} = \frac{\sum_{i=0}^{n-1} x_i} {n}$

***

### End